<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "template/link.html"}}
    <script type="text/javascript" src="../static/js/card.js"></script>
    <title>卡片管理</title>
</head>
<body>

<div class="ui grid">

    <div class="one column row"></div>
    <div class="one column row">
        <div class="column ui header" style="text-align: center">卡片管理</div>
    </div>

    <div class="twelve column row">
        <div class="one wide column"></div>

        <div class="four wide column">
            {{template "template/menu.html"}}
        </div>
        <div class="nine wide column">
            <form class="ui form" action="/income" method="post" enctype="application/x-www-form-urlencoded"
                  accept-charset="utf-8">
                {{ .xsrfdata }}
                <div class="inline field">
                    <label>姓名：</label>
                    <input type="text" name="merchant" placeholder="输入商户名..">
                    <label>卡号：</label>
                    <input type="text" name="merchant" placeholder="输入商户名..">
                    <button class="ui secondary basic button">确定</button>
                </div>

                <div class="inline field" style="margin-left: 4%">
                    <button class="ui basic button" style="margin-left: 1%;" onclick="goToAddCard()" type="button">
                        <i class="clipboard edit icon"></i>
                        添加卡片
                    </button>
                    <button class="ui basic button" style="margin-left: 1%;" onclick="goToCardLog()" type="button">
                        <i class="clipboard list icon"></i>
                        查看日志
                    </button>
                </div>
            </form>

            <table class="ui striped table">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>卡号</th>
                    <th>创建时间</th>
                    <th>操作员</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {{range  $index,$elem:= .cards}}
                    <tr>

                        <td>{{$elem.Name}}</td>
                        <td>{{$elem.CardNumber}}</td>
                        <td>{{$elem.Created}}</td>
                        <td>{{$elem.Operator}}</td>
                        <td>
                            <button class="ui mini orange button">修改</button>
                            <button class="ui mini red button">删除</button>
                        </td>

                    </tr>
                {{end}}

                </tbody>
            </table>

        </div>

    </div>

</div>

<div class="ui small modal">
    <div class="header">删除确认</div>
    <div class="content">
        <p>确认删除这个vhost?</p>
    </div>
    <div class="actions">
        <div class="ui red button">否</div>
        <div class="ui positive right labeled icon button">
            <div style="color: white">Yes</div>
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>


</body>
</html>