<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "template/link.html"}}
    <title>卡片管理日志</title>
</head>
<body>

<div class="ui grid">

    <div class="one column row"></div>
    <div class="one column row">
        <div class="column ui header" style="text-align: center">卡片管理日志</div>
    </div>

    <div class="twelve column row">
        <div class="one wide column"></div>

        <div class="four wide column">
            {{template "template/menu.html"}}
        </div>
        <div class="nine wide column">

            <table class="ui striped table">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>卡号</th>
                    <th>记录时间</th>
                    <th>操作员</th>
                    <th>行为</th>
                </tr>
                </thead>
                <tbody>

                {{range  $index,$elem:= .cards}}
                    <tr>

                        <td>{{$elem.Name}}</td>
                        <td>{{$elem.CardNumber}}</td>
                        <td>{{$elem.Created}}</td>
                        <td>{{$elem.Operator}}</td>
                        <td>{{$elem.Action}}</td>

                    </tr>
                {{end}}

                </tbody>
            </table>

            <div class="ui pagination menu" style="margin-left: 20%">
                <a class="item" href="/card/log?pageIndex=1">首页</a>
                <a class="item" href="/card/log?pageIndex={{pre .pageIndex}}">上一页</a>
                <a class="item" href="/card/log?pageIndex={{next .pageIndex .pageCount}}">下一页</a>
                <a class="item" href="/card/log?pageIndex={{.pageCount}}">尾页</a>
                <a class="disabled item">共{{.pageCount}}页</a>
            </div>

        </div>

    </div>

</div>
</body>
</html>