<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "template/link.html"}}
    <script type="text/javascript" src="../static/js/income.js"></script>
    <title>入款</title>
</head>
<body>

<div class="ui sixteen column grid">

    <div class="one column row"></div>
    <div class="one column row">
        <div class="column ui header" style="text-align: center">入款</div>
    </div>

    <div class="eleven column row">
        <div class="one wide column"></div>

        <div class="four wide column">
            {{template "template/menu.html"}}
        </div>
        <div class="six wide column">
            <form class="ui form" action="/income" method="post" enctype="application/x-www-form-urlencoded"
                  accept-charset="utf-8">
                {{ .xsrfdata }}
                <div class="field">
                    <label>用户名：</label>
                    <input id="name" type="text" name="name" placeholder="输入用户名..">
                </div>

                <div class="field">
                    <label>卡号：</label>
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden" name="cardNumber">
                        <i class="dropdown icon"></i>
                        <div class="default text">输入用户后显示..</div>
                        <div class="menu" id="cardDropdown"></div>
                    </div>
                </div>


                <div class="field">
                    <label>金额：</label>
                    <input id="amount" type="text" name="amount" placeholder="输入金额..">
                </div>

                <div class="field">
                    <label>提现手续费：</label>
                    <input id="serviceCharge" type="text" name="serviceCharge" placeholder="提现手续费..">
                </div>


                <div class="ui buttons" style="float: 15px;padding-left: 40%;margin-top: 20px;">
                    <button id="submit" class="ui secondary disabled button">提交</button>
                    <div class="or"></div>
                    <button type="reset" class="ui  button">重置</button>
                </div>


            </form>
        </div>
    </div>

</div>


</body>
</html>