<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "template/link.html"}}
    <title>首页</title>
</head>
<body>
<div class="ui four column grid">

    <div class="one column row">
        <div class="column ui header" style="text-align: center">首页</div>
    </div>

    <div class="eleven column row">

        <div class="one wide column"></div>

        <div class="four wide column">
            {{template "template/menu.html"}}
        </div>
        <div class="six wide column">
            请选择左边的操作
        </div>
    </div>

</div>
</body>

</html>