<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{/*总数据量*/}}
{{.count}}

{{range  $index,$elem:= .data}}
    <div>
        <div>{{$elem.Name}} - {{$elem.CardNumber}} - {{$elem.Created}} - {{$elem.Operator}}</div>
    </div>
{{end}}

<div>
    <a href="/page?pageIndex=1">第一页</a>

    <li><a href="/page?pageIndex={{pre .pageIndex}}">上一页</a></li>
    <li><a href="/page?pageIndex={{next .pageIndex .pageCount}}">下一页</a></li>

    <a href="/page?pageIndex={{.pageCount}}">尾页</a>
</div>


</body>
</html>