<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "template/link.html"}}
    <link rel="stylesheet" href="../../static/css/datepicker.min.css" type="text/css">
    <script src="../../static/js/datepicker.min.js" type="text/javascript"></script>
    <script src="../../static/i18n/datepicker.zh.js" type="text/javascript"></script>
    <title>商户统计</title>
</head>
<body>
<div class="ui grid">

    <div class="one column row"></div>
    <div class="one column row">
        <div class="column ui header" style="text-align: center">商户统计</div>
    </div>

    <div class="twelve column row">
        <div class="one wide column"></div>

        <div class="four wide column">
            {{template "template/menu.html"}}
        </div>
        <div class="nine wide column">
            <form class="ui form" action="/income" method="post" enctype="application/x-www-form-urlencoded"
                  accept-charset="utf-8">
                {{ .xsrfdata }}
                <div class="inline field">
                    <label>筛选：</label>
                    <input class="datepicker-here" data-language="zh" data-range="true"
                           data-mutiple-dates-separator=" - " type="text" name="merchant"
                           placeholder="根据时间筛选" id="datePicker">
                    <label>商户：</label>
                    <input type="text" name="merchant" placeholder="根据商户筛选">
                    <button class="ui secondary basic button">确定</button>
                </div>
            </form>

            <table class="ui striped table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>商户名</th>
                    <th>姓名</th>
                    <th>卡号</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2019-06-12</td>
                    <td>添好运</td>
                    <td>William</td>
                    <td>6666888866668888</td>
                    <td>5000000</td>
                </tr>

                <tr>
                    <td>2019-06-12</td>
                    <td>美日视频</td>
                    <td>Niko</td>
                    <td>6666888866668888</td>
                    <td>1000000</td>
                </tr>

                <tr>
                    <td>2019-06-12</td>
                    <td>尊皇</td>
                    <td>Rich</td>
                    <td>6666888866668888</td>
                    <td>500000</td>
                </tr>

                <tr>
                    <td>2019-06-12</td>
                    <td>TopTop</td>
                    <td>Derek</td>
                    <td>6666888866668888</td>
                    <td>100000000</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('#datePicker').datepicker({
            language: 'zh',
            range: true,
        });
        #('#datePicker').data('datepicker')
    })
</script>
</body>
</html>