<div class="ui large vertical menu ">
    <a href="/income" class="item">
        入款
    </a>
    <a href="/outcome" class="item">
        出款
    </a>
    <a href="/adjustment" class="item">
        调整
    </a>
    <a href="/merchant" class="item">
        商户管理
    </a>
    <a href="/card" class="item">
        卡片管理
    </a>
    <div class="ui dropdown item" id="dp1">
        商户统计
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/statistics/merchant">商户统计</a>
            <a class="item" href="/statistics/servicecharge">手续费统计</a>
            <a class="item" href="/statistics/balance">余额统计</a>
        </div>
    </div>
</div>